
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    src: url('/Pages/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url("/Pages/imagenes/fondo.jpg");
    background-position: center;
    background-size: cover;
}

/* CAJA COMPLETA DE FORMULARIO */
.contenedor {
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out, transform 1s ease-out;
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.contenedor h2 {
    font-size: 2.3rem;
    color: #004494;
    text-align: center;
}

.input-contenedor {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #333;
}



.input-contenedor label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #333;
    font-size: 1rem;
    pointer-events: none; 
    font-family: bold;
}

/* LEVANTAR ETIQUETAS Y MOSTRAR PLACEHOLDER SOLO CUANDO SE LEVANTE*/

input:not(:focus)::placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -6px;
    transition: top 0.6s ease;
    color: #004494;
  }
  

/* Estilos para el campo de correo electrónico cuando se autocompleta 
.input-contenedor input:-webkit-autofill {
    -webkit-box-shadow: none !important;  Eliminar cualquier sombra 
    background-color: transparent !important; /* Fondo transparente 
    color: #333 !important; /* Texto negro 
}

*/

/* Estilos para el input normal */
.input-contenedor input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #333;
}


.input-contenedor i {
    position: absolute;
    color: #333;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}


.input-contenedor-olvidado {
    position: relative;
    margin: 50px 0;
    width: 380px;
    border-bottom: 2px solid #333;
}



.input-contenedor-olvidado label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #333;
    font-size: 1rem;
    pointer-events: none; 
    font-family: bold;
}

.input-contenedor-olvidado input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #333;
}

.input-contenedor-olvidado i {
    position: absolute;
    color: #333;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.olvidar {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #333;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.olvidar label {
    display: flex;
    align-items: center;
}

.olvidar label input {
    margin-right: 7px; 
}

.olvidar label a {
    margin-left: 40px; 
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.9em;
}

.olvidar label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #0056b3;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

button:hover {
    background: #004494;}

.registrar {
    font-size: 0.8rem;
    color: #333;
    text-align: center;
    margin: 20px 0 10px;
}

.registrar p a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.registrar p a:hover {
    text-decoration: underline;
}


.contenedor.fade-out {
    opacity: 0;
    transform: rotate(360deg) scale(0.5); 
}



/* BOTON DE SWITCH */


.lbl {
    margin: 30px;
    display: inline-block;
    width: 75px;
    height: 43px;
    background: #979797;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
   
  .lbl::after{
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
  }
   
  #switch:checked + .lbl::after{
    left: 35px;
  }
   
   
  #switch{
    display: none;
  }

  .contenedor-palabras {
    display: flex;
    align-items: center;
  }
  
  .palabra-estudiante {
    margin-right: 40px; 
    margin-bottom: 15px;
}   
  
  .palabra-profesor {
    margin-left: 5px; 
    margin-bottom: 15px;
}
  
@keyframes shakeAndFlash {
    0%, 100% {
        transform: translateX(0);
        background-color: rgba(255, 0, 0, 0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
    25%, 75% {
        background-color: red;
    }
}

.contenedor.shake{
    animation: shakeAndFlash 0.8s ease-out;
}

.contenedor.success {
    opacity: 0;
    transform: scale(1.2) translateY(-50px);
    background-color: green; 
    transition: opacity 1.7s ease-out, transform 0.8s ease-out, background-color 0.8s ease-out;
}



